@font-face {
  font-family: 'NanumJangMiCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJangMiCe/NanumJangMiCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJangMiCe/NanumJangMiCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJangMiCe/NanumJangMiCe.ttf') format('truetype');
}